/* Colors */
$primaryColor1: #0C2340; /* Cavalier Blue */
$primaryColor2: #FF671F; /* Cavalier Orange */
$primaryColor3: #FFFFFF; /* White */
$secondaryColor1: #003A70; /* Regal Blue */
$secondaryColor2: #FFAA4D; /* Pastel Orange */
$secondaryColor3: #505759; /* Abbey Grey */
$secondaryColor4: #000000; /* Black */

/* Fonts */
$primaryFont: 'Open Sans', sans-serif;
$secondaryFont: 'Dosis', sans-serif; /* using 500 semi-bold */
$monospaceFont: 'Droid Sans Mono', ;