/*Colors*/
$primaryColor1: #041E42;
$primaryColor2: #FF671F;
$primaryColor3: #FFFFFF;
$secondaryColor1: #003366;
$secondaryColor2: #FFB25B; /* Not used as of 6/17/15 */
$secondaryColor3: #505759;

/*Fonts*/
$primaryFont: 'Yeseva One', cursive;
$secondaryFont: 'Open Sans', sans-serif;